<ion-view view-title="CDF Details" ng-init="cdfinfo($stateParams.item.uId)">
<ion-content>
  <!--<button class="button button-block button-positive" ng-click="productinfo($stateParams.item.id)">Refresh</button>-->
  <div class="list card">
<div class="item item-body" style="text-align:justify;">
  <center><img src="img/avtar.png" width="100px" height="100px"></center>
  <div style="text-align:center">
    <h2 style="color:red" ng-repeat="item in cdfrec"><b>{{item.fname}} {{item.lname}}</b></h2>
  </div>
  <center><p ng-repeat="item in cdfrec">
    {{item.qualification}}
  </p></center>
</div>

</div>
<div class="card">
<div class="item item-divider" style="color:red">
  Experience
</div>
<div class="item item-text-wrap" style="text-align:justify;" ng-repeat="item in cdfrec">
  {{item.aboutSelf}}
</div>
</div>
<div class="card">
<div class="item item-divider" style="color:red">
  City
</div>
<div class="item item-text-wrap" style="text-align:justify;" ng-repeat="item in cdfrec">
  {{item.city}}
</div>
</div>

</ion-content>
</ion-view>
