<ion-view view-title="Change Password">
  <ion-content>

<div ng-controller="changePswCtrl">
<div class="padding">

  <label class="item item-input">
    <span class="input-label">Password:</span>
    <input type="password" ng-model="password1">
  </label>
  <label class="item item-input">
    <span class="input-label">Confirm Password:</span>
    <input type="password" ng-model="password2">
  </label>


<button class="button button-calm button-block" ng-click="postdata()">Change Password</button>
</div>
</div>

</ion-content>
</ion-view>
