
  <ion-view>
    <ion-content ng-controller="pswCtrl">

    <div>
    <label class="item item-input" >
      <span class="input-label">New Password :</span>
      <input type="password"   ng-model="pswone" ng-required=""  ng-minlength=""/>
    </label>

    <label class="item item-input" >
      <span class="input-label">Confirm Password :</span>
      <input type="password" ng-model="pswtwo" ng-required=""  ng-minlength=""/>
    </label>
      <a class="button button-stable button-assertive button-block" ng-click="Change()">Submit</a>
    </div>





</ion-content
></ion-view>
