<ion-view>
  <ion-content ng-controller="editProfileCtrl">


 <label class="item item-input">
      <span class="input-label">First Name </span>
      <input type="text" placeholder="" ng-model="firstnamel" >
  </label>

  <label class="item item-input">
       <span class="input-label">Last Name</span>
       <input type="text" placeholder="" ng-model="lastnamel" >
   </label>
   <label class="item item-input">
        <span class="input-label">Contact</span>
        <input type="text" placeholder="" ng-model="contact" >
    </label>

<button class="button button-calm align_center button-block icon ion-edit button-small" ng-click="editprofile()"> &nbsp;Save </button>
</div>
  </ion-content>
</ion-view>
