<ion-view view-title="My Test's">
<ion-content class="has-header">

  <div class="list">
  <!--<a href="#detailsView:3">
              <div class="item item-button-right">
                Free Interest Test
              </div>
          </a>-->
          <div  >
            <a href="#/app/register/1">
                      <div class="item item-button-right card padding">
                    <i class="icon ion-compose"></i> &nbsp;  <b>  Free Interest Test </b>
                     </div></a> 
          </div>
          <div  style="color:blue">
            <a href="#/app/register/2">
                      <div class="item item-button-right card padding">
                      <i class="icon ion-compose"></i> &nbsp;  <b>Main Test</b>
                      </div>
                    </a>
          </div>
  </div>
  <!--
    <form id="four" ng-show="showfour">
      <div class="list">
        <label class="item item-imput">
          <input type="text" placeholder="Name" ng-model="name">
        </label>
        <label class="item item-imput">
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-imput">
          <input type="number" placeholder="Contact" ng-model="contact">
        </label>
        <label class="item item-imput">
          <input type="number" placeholder="DOB" ng-model="contact">
        </label>
        <label class="item item-imput">
          <input type="number" placeholder="Gender" ng-model="contact">
        </label>
        <label class="item item-input">
          <span style="text-align: center; width: 100%;">
             <button class="button icon-left" ng-click="sendData()">
             Submit
             </button>
          </span>
        </label>
      </div>
    </form>
-->
</ion-content>
<!--
<ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons button-calm" style="color:#0094d4">
    <button class="button">Prev</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons button-calm">
    <button class="button">Next</button>
  </div>
</ion-footer-bar>-->
</ion-view>
