<ion-view view-title="Ability Test No 2" style="background-color: #4CB8C4">
  <ion-content style="padding:10px">
    <div class="card">
      <div class="item item-divider" style="background-color: #5D6D7E; padding-top:10px; color:#fff">
      Question No: 12
    </div>
    <div style="padding-top:10px; height: 100%" align="center">
      <img class="allimgs" src="http://192.168.1.50/webapi/api/getimage?imgpath=ab_vi_q1.gif">
    </div>
  </div>
  <div class="card">
    <div class="item item-divider" style="background-color: #5D6D7E; color: #fff; padding-top:10px">
      Options:
    </div>
    <div style="padding:10px">
      <img style="width: 100%" src="http://192.168.1.50/webapi/api/getimage?imgpath=ab_vi_q1.gif">
    </div>
    <div  class="row" style="padding:10px; text-align:center">
                    <div class="col col-20" style="font-size:20px">
                      <input type="radio" name="gender" ng-model="gender" >
                      <b>A</b>
                    </div>
                    <div class="col col-20" style="font-size:20px">
                      <input type="radio" name="gender" ng-model="gender" >
                      <b>B</b>
                    </div>
                    <div class="col col-20" style="font-size:20px">
                      <input type="radio" name="gender" ng-model="gender" >
                      <b>C</b>
                    </div>
                    <div class="col col-20" style="font-size:20px">
                      <input type="radio" name="gender" ng-model="gender" >
                      <b>D</b>
                    </div>
                    <div class="col col-20" style="font-size:20px">
                      <input type="radio" name="gender" ng-model="gender" >
                      <b>E</b>
                    </div>
    </div>
  </div>
    <div style="padding:20px">
    <button class="button button-dark button-block">Next</button>
  </div>
  </ion-content>
</ion-view>
