<ion-view view-title="Rules">
<ion-content class="has-header" style="padding:20px">
<div>
  <h1 class="center-align color-dheya">Intructions</h1>
    <hr>
  <div class="margin-all">
  <li>This test builds the inventory of your likes and dislikes.</li>
  <li>This will give you guidance regarding the vocation or subject that you like. </li>
  <li>This test comprises of 72 statements, each with 2 options (L) Like and (D) Dislike. </li>
  <li>You need to read every statement carefully and choose your answer option, if you like the statement choose (L) and if you dislike then choose (D).</li>
  <li>There are no right or wrong answers. Every answer is correct for the individual. </li>
  <li>Do not take too much time in answering these questions, give the 1st natural answer that comes to your mind.</li>
  <li>Do not SKIP or OMIT any statement.</li>
  </div>
  <div class="margin-top">  <button id="intructions-button4" class="button button-positive  button-block" ui-sref="app.freetestpage">Start Test</button> </div>
</div>
</ion-view>
</ion-content>
