<!--<ion-view view-title="Test Details">
<ion-content class="has-header" style="padding:20px">
<div>
  <h1 class="container">Interest Test</h1>
  <hr>
  <div align="center">
    <img src="img/Career.png"/>
  </div>
  <div class="center-align"> <p>Interest Test Has 72 questions.Each question has 2 choices and you have to select one. You need to give most suitable response to each questions. This test is not time bounded. This test helps in identifying your interest areas. </p> </div>
<a id="testDetails-button3" class="button button-positive  button-block margin" ui-sref="app.testInstruc">Continue</a>
</div>

</ion-content>
</ion-view>-->
<html>
<body>
<ion-view title="Test Details">
  <ion-content class="has-header">

  <h1 class="center-align">Interest Test</h1>
  <hr>
  <br>
<p class="center-align"> <img src="img/Career.png"/> </p>
<br>
<div class="center-align"> <p>Interest Test Has 72 questions.Each question has 2 choices and you have to select one. You need to give most suitable response to each questions. This test is not time bounded. This test helps in identifying your interest areas. </p> </div>

<br>
    <a ui-sref="app.testInstruc" id="testDetails-button3" class="button button-positive  button-block margin">Continue</a>
  </ion-content>
</ion-view>
</body>
</html>
